body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #2d454e 0%, #5EA9BE 50%, #5EA9BE 100%);
  padding: 1%;
  overflow: hidden;
}

.cloud {
  border-radius: 50%;
  position: absolute;
}

/* cloud white background */

#cloud1-back,
#cloud2-back,
#cloud3-back,
#cloud4-back,
#cloud5-back,
#cloud6-back,
#cloud7-back,
#cloud8-back {
  filter: url(#filter-back);
  box-shadow: 300px 300px 30px -20px #fff;
  animation: slide 20s linear infinite;
}

/* cloud -1  */

.cloud1 {
  width: 400px;
  height: 275px;
  top: -35vh;
  left: -25vw;
  animation: slide 20s linear infinite;
}

#cloud1-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -25vw;
}

#cloud1-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -25vw;
}

/* cloud 2 */

.cloud2 {
  width: 100px;
  height: 275px;
  top: -50vh;
  left: -8vw;
  animation: slide 13s linear infinite;
}

#cloud2-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -8vw;
}

#cloud2-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -8vw;
}

/* cloud 3 */

.cloud3 {
  width: 300px;
  height: 105px;
  top: -20vh;
  left: -55vw;
  animation: slide 15s linear infinite;
}

#cloud3-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -55vw;
}

#cloud3-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -55vw;
}

/* cloud 4 */

.cloud4 {
  width: 500px;
  height: 305px;
  top: -30vh;
  left: -80vw;
  animation: slide 10s linear infinite;
}

#cloud4-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -80vw;
}

#cloud4-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -80vw;
}

/* cloud -5  */

.cloud5 {
  width: 600px;
  height: 275px;
  top: -15vh;
  left: -125vw;
  animation: slide2x 10s linear infinite;
}

#cloud5-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -125vw;
}

#cloud5-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -125vw;
}

/* cloud 6 */

.cloud6 {
  width: 300px;
  height: 275px;
  top: -50vh;
  left: -110vw;
  animation: slide2x 33s linear infinite;
}

#cloud6-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -110vw;
}

#cloud6-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -110vw;
}

/* cloud 7 */

.cloud7 {
  width: 250px;
  height: 205px;
  top: -10vh;
  left: -140vw;
  animation: slide2x 15s linear infinite;
}

#cloud7-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -140vw;
}

#cloud7-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -140vw;
}

/* cloud 8 */

.cloud8 {
  width: 500px;
  height: 305px;
  top: -30vh;
  left: -190vw;
  animation: slide2x 10s linear infinite;
}

#cloud8-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
  left: -190vw;
}

#cloud8-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
  left: -190vw;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250vw);
  }
}